@import url(https://fonts.googleapis.com/css?family=Caveat:400,500,600,700&display=swap);



.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Caveat', handwriting;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.75rem;
}
.display-2 {
  font-family: 'Caveat', handwriting;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'komorebi-gothic';
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Caveat', handwriting;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-7 {
  font-family: 'komorebi-gothic';
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.04rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.66rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #bbbbbb !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #bbbbbb;
  color: #bbbbbb;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #909090 !important;
  background-color: transparent!important;
  border-color: #909090 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #bbbbbb !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #888888 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #bbbbbb;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #bbbbbb;
  border-color: #bbbbbb;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #bbbbbb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fbfbfb;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'komorebi-gothic';
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #bbbbbb !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'komorebi-gothic';
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #bbbbbb;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #bbbbbb;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #bbbbbb;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #bbbbbb;
  border-bottom-color: #bbbbbb;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #bbbbbb !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23bbbbbb' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-si11jnMQ2G {
  z-index: 1000;
  width: 100%;
}
.cid-si11jnMQ2G nav.navbar {
  position: fixed;
}
.cid-si11jnMQ2G .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-si11jnMQ2G .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-si11jnMQ2G .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-si11jnMQ2G .dropdown-item:hover,
.cid-si11jnMQ2G .dropdown-item:focus {
  background: #bbbbbb !important;
  color: white !important;
}
.cid-si11jnMQ2G .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-si11jnMQ2G .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-si11jnMQ2G .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-si11jnMQ2G .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-si11jnMQ2G .nav-link {
  position: relative;
}
.cid-si11jnMQ2G .container {
  display: flex;
  margin: auto;
}
.cid-si11jnMQ2G .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-si11jnMQ2G .dropdown-menu,
.cid-si11jnMQ2G .navbar.opened {
  background: #ffffff !important;
}
.cid-si11jnMQ2G .nav-item:focus,
.cid-si11jnMQ2G .nav-link:focus {
  outline: none;
}
.cid-si11jnMQ2G .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-si11jnMQ2G .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-si11jnMQ2G .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-si11jnMQ2G .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-si11jnMQ2G .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-si11jnMQ2G .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-si11jnMQ2G .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.3);
}
.cid-si11jnMQ2G .navbar.opened {
  transition: all 0.3s;
}
.cid-si11jnMQ2G .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-si11jnMQ2G .navbar .navbar-logo img {
  width: auto;
}
.cid-si11jnMQ2G .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-si11jnMQ2G .navbar.collapsed {
  justify-content: center;
}
.cid-si11jnMQ2G .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-si11jnMQ2G .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-si11jnMQ2G .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.5rem);
  }
}
.cid-si11jnMQ2G .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-si11jnMQ2G .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-si11jnMQ2G .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-si11jnMQ2G .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-si11jnMQ2G .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-si11jnMQ2G .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-si11jnMQ2G .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-si11jnMQ2G .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-si11jnMQ2G .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-si11jnMQ2G .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-si11jnMQ2G .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-si11jnMQ2G .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-si11jnMQ2G .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-si11jnMQ2G .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-si11jnMQ2G .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-si11jnMQ2G .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-si11jnMQ2G .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-si11jnMQ2G .navbar.navbar-short {
  min-height: 60px;
}
.cid-si11jnMQ2G .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-si11jnMQ2G .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-si11jnMQ2G .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-si11jnMQ2G .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-si11jnMQ2G .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-si11jnMQ2G .dropdown-item.active,
.cid-si11jnMQ2G .dropdown-item:active {
  background-color: transparent;
}
.cid-si11jnMQ2G .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-si11jnMQ2G .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-si11jnMQ2G .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-si11jnMQ2G .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-si11jnMQ2G .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-si11jnMQ2G .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-si11jnMQ2G ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-si11jnMQ2G .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-si11jnMQ2G button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-si11jnMQ2G button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #22a5e5;
}
.cid-si11jnMQ2G button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-si11jnMQ2G button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-si11jnMQ2G button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-si11jnMQ2G button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-si11jnMQ2G nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-si11jnMQ2G nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-si11jnMQ2G nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-si11jnMQ2G nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-si11jnMQ2G .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-si11jnMQ2G a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-si11jnMQ2G .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-si11jnMQ2G .navbar {
    height: 70px;
  }
  .cid-si11jnMQ2G .navbar.opened {
    height: auto;
  }
  .cid-si11jnMQ2G .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sxTkabRHnA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-1920x960.png");
}
@media (min-width: 992px) {
  .cid-sxTkabRHnA .carousel {
    min-height: 400px;
  }
  .cid-sxTkabRHnA .carousel img {
    max-height: 400px;
    object-fit: contain;
  }
  .cid-sxTkabRHnA .row {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sxTkabRHnA .carousel {
    min-height: 260px;
  }
  .cid-sxTkabRHnA .carousel img {
    max-height: 260px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-sxTkabRHnA .carousel {
    min-height: 220px;
  }
  .cid-sxTkabRHnA .carousel img {
    max-height: 220px;
    object-fit: contain;
  }
  .cid-sxTkabRHnA .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sxTkabRHnA .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sxTkabRHnA .carousel,
.cid-sxTkabRHnA .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sxTkabRHnA .item-wrapper {
  width: 100%;
}
.cid-sxTkabRHnA .carousel-caption {
  bottom: 40px;
}
.cid-sxTkabRHnA .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sxTkabRHnA .mobi-mbri-arrow-next:hover {
  color: #bbbbbb;
}
.cid-sxTkabRHnA .mobi-mbri-arrow-prev:hover {
  color: #bbbbbb;
}
.cid-sxTkabRHnA .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sxTkabRHnA .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  transition: all 0.3s;
  color: #000000;
}
.cid-sxTkabRHnA .carousel-control.carousel-control-prev {
  left: -100px;
  margin-left: 2.5rem;
}
.cid-sxTkabRHnA .carousel-control.carousel-control-next {
  right: -100px;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sxTkabRHnA .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sxTkabRHnA .left-side {
  text-align: left;
}
.cid-sxTkabRHnA .row {
  align-items: center;
}
@media (max-width: 600px) {
  .cid-sxTkabRHnA .mbr-section-btn {
    margin-bottom: 25px;
  }
  .cid-sxTkabRHnA .carousel-control.carousel-control-next {
    right: -50px;
    bottom: 100px;
    display: none;
  }
  .cid-sxTkabRHnA .carousel-control.carousel-control-prev {
    left: -50px;
    bottom: 100px;
    display: none;
  }
  .cid-sxTkabRHnA .right-side {
    display: none;
  }
  .cid-sxTkabRHnA .carousel {
    margin-top: 25px;
  }
}
.cid-sxTkabRHnA .button-align {
  width: 100%;
}
.cid-sxTkabRHnA .carousel-fade .active.carousel-item-left,
.cid-sxTkabRHnA .carousel-fade .active.carousel-item-right {
  transition: opacity 0.5s 0s;
}
.cid-sxTkabRHnA .carousel-fade .carousel-item-left.carousel-item-next,
.cid-sxTkabRHnA .carousel-fade .carousel-item-right.carousel-item-prev {
  transition: opacity 0.5s 0.5s;
}
.cid-sxTkabRHnA .mbr-section-subtitle {
  font-style: italic;
}
.cid-sxTkuFrrQW {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #f2f3f7;
}
.cid-sxTkuFrrQW .mbr-section-title {
  margin-bottom: 0.5rem;
  color: #ffffff;
}
.cid-sxTkuFrrQW .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sxTkuFrrQW .btn {
  margin-top: 1.5rem;
  position: relative;
  padding: 0.7rem 3rem;
  background-color: #fff;
  color: #ff6666;
}
.cid-sxTkuFrrQW .container-fluid {
  max-width: 1200px;
}
.cid-sxTkuFrrQW .btn .inner-dashed-border {
  stroke: #ff6666;
}
.cid-sxTkuFrrQW .btn:hover .inner-dashed-border {
  animation-play-state: running;
}
@keyframes dashed_border_running {
  100% {
    stroke-dashoffset: -1000;
  }
}
.cid-sxTkuFrrQW rect {
  position: absolute;
  width: 95%;
}
.cid-sxTkuFrrQW .svg-1 {
  position: absolute;
  bottom: 0;
}
.cid-sxTkuFrrQW .svg-1 path {
  fill: #ffffff;
}
.cid-sxTkuFrrQW .svg-2 {
  position: absolute;
  top: 0;
}
.cid-sxTkuFrrQW .svg-2 path {
  fill: #ffffff;
}
.cid-sxTkuFrrQW .svg1 {
  padding: 2px;
}
.cid-sxTkuFrrQW .svg1 rect {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
@media (max-width: 767px) {
  .cid-sxTkuFrrQW {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .cid-sxTkuFrrQW .container-fluid {
    padding: 0 1rem;
  }
}
.cid-sxTkuFrrQW .mbr-section-subtitle,
.cid-sxTkuFrrQW .mbr-section-btn {
  color: #000000;
}
.cid-sxTrb3MEBS {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f2f3f7;
  position: relative;
  overflow: hidden;
}
.cid-sxTrb3MEBS svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.8, 1.8);
}
.cid-sxTrb3MEBS H1 {
  color: #000000;
}
.cid-sxTrb3MEBS .mbr-text,
.cid-sxTrb3MEBS .mbr-section-btn {
  color: #000000;
}
.cid-sxTrb3MEBS #e1_ellipse {
  fill: #f2f3f7 !important;
}
.cid-sxTrb3MEBS img {
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
}
@media (max-width: 576px) {
  .cid-sxTrb3MEBS img {
    width: 100%;
  }
}
.cid-sxTru58e7h {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #f2f3f7;
  position: relative;
  overflow: hidden;
}
.cid-sxTru58e7h svg {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%) scale(2, 1.2);
  animation: wave 5s ease-in-out infinite;
}
@keyframes line {
  from {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(4px);
  }
}
@keyframes wave {
  from {
    transform: rotate(-0.2deg) translate(-50%) scale(2, 1.2);
  }
  50% {
    transform: rotate(0.2deg) translate(-50%) scale(2.1, 1.3);
  }
  to {
    transform: rotate(-0.2deg) translate(-50%) scale(2, 1.2);
  }
}
.cid-sxTru58e7h .mbr-text,
.cid-sxTru58e7h .mbr-section-btn {
  color: #000000;
}
.cid-sxTru58e7h #e12_areaS3 {
  fill: #fafafa !important;
}
.cid-sxTru58e7h #e19_areaS3 {
  fill: #f2f3f7 !important;
}
.cid-sxTru58e7h H1 {
  color: #000000;
}
.cid-sxTru58e7h img {
  width: 60%;
  border-radius: 10px;
  animation: line 4s ease-in-out infinite;
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
}
.cid-sxTru58e7h .box {
  width: 95%;
  height: 90%;
  opacity: 0.5;
  background-color: #ffffff;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0.5rem;
}
@media (max-width: 1200px) {
  .cid-sxTru58e7h .box {
    top: 2%;
    width: 97%;
    height: 96%;
  }
}
@media (max-width: 576px) {
  .cid-sxTru58e7h img {
    width: 100%;
  }
}
.cid-sxTrZICFPX {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f2f3f7;
  position: relative;
  overflow: hidden;
}
.cid-sxTrZICFPX svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.8, 1.8);
}
.cid-sxTrZICFPX H1 {
  color: #000000;
}
.cid-sxTrZICFPX .mbr-text,
.cid-sxTrZICFPX .mbr-section-btn {
  color: #000000;
}
.cid-sxTrZICFPX #e1_ellipse {
  fill: #f2f3f7 !important;
}
.cid-sxTrZICFPX img {
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
}
@media (max-width: 576px) {
  .cid-sxTrZICFPX img {
    width: 100%;
  }
}
.cid-sxTwcns2Jq {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sxTwcns2Jq .mbr-section-title {
  margin-bottom: 0.5rem;
  color: #ffffff;
}
.cid-sxTwcns2Jq .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sxTwcns2Jq .btn {
  margin-top: 1.5rem;
  position: relative;
  padding: 0.7rem 3rem;
  background-color: #fff;
  color: #ff6666;
}
.cid-sxTwcns2Jq .container-fluid {
  max-width: 1200px;
}
.cid-sxTwcns2Jq .btn .inner-dashed-border {
  stroke: #ff6666;
}
.cid-sxTwcns2Jq .btn:hover .inner-dashed-border {
  animation-play-state: running;
}
@keyframes dashed_border_running {
  100% {
    stroke-dashoffset: -1000;
  }
}
.cid-sxTwcns2Jq rect {
  position: absolute;
  width: 95%;
}
.cid-sxTwcns2Jq .svg-1 {
  position: absolute;
  bottom: 0;
}
.cid-sxTwcns2Jq .svg-1 path {
  fill: #f2f3f7;
}
.cid-sxTwcns2Jq .svg-2 {
  position: absolute;
  top: 0;
}
.cid-sxTwcns2Jq .svg-2 path {
  fill: #f2f3f7;
}
.cid-sxTwcns2Jq .svg1 {
  padding: 2px;
}
.cid-sxTwcns2Jq .svg1 rect {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
@media (max-width: 767px) {
  .cid-sxTwcns2Jq {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .cid-sxTwcns2Jq .container-fluid {
    padding: 0 1rem;
  }
}
.cid-sxTwcns2Jq .mbr-section-subtitle,
.cid-sxTwcns2Jq .mbr-section-btn {
  color: #000000;
}
.cid-siVNdMseH1 {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-siVNdMseH1 .card {
  width: 100%;
}
.cid-siVNdMseH1 .card .add__block {
  display: none;
}
.cid-siVNdMseH1 .add__block {
  margin-top: 35px;
}
.cid-siVNdMseH1 .add__block .add__block_image {
  width: 170px;
}
.cid-siVNdMseH1 .add__block .add__block_image img {
  width: 100%;
  border-radius: 6px;
}
.cid-siVNdMseH1 .add__block .add__block_content {
  margin-left: 30px;
  max-width: 270px;
}
.cid-siVNdMseH1 .add__block .add__block_title {
  margin-bottom: 0;
}
.cid-siVNdMseH1 .add__block .add__block_text {
  margin-top: 15px;
  margin-bottom: 0;
  color: #919dab;
}
.cid-siVNdMseH1 .row {
  margin: 0;
}
.cid-siVNdMseH1 .mbr-section-title {
  margin-bottom: 0;
  text-align: center;
}
.cid-siVNdMseH1 .step-container {
  margin-top: 25px;
}
.cid-siVNdMseH1 .padding__bot {
  padding-bottom: 50px;
}
.cid-siVNdMseH1 .step-text-content {
  padding-top: 10px;
}
.cid-siVNdMseH1 .mbr-step-title {
  margin-bottom: 0;
  font-weight: 500;
}
.cid-siVNdMseH1 .mbr-step-text {
  margin-bottom: 0;
  margin-top: 20px;
  color: #919DAB;
}
.cid-siVNdMseH1 .mbr-section-btn {
  margin-top: 20px;
}
.cid-siVNdMseH1 .mbr-section-btn .btn {
  font-weight: 500;
}
.cid-siVNdMseH1 .step {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: calc((20px) - 2px);
  margin-bottom: 0;
  border-radius: 50%;
  border: 2px solid #bbbbbb;
  background-color: #bbbbbb;
  font-weight: 500;
  color: #111111;
}
@media (min-width: 400px) {
  .cid-siVNdMseH1 .add__block {
    display: flex;
  }
  .cid-siVNdMseH1 .step-element {
    display: flex;
  }
  .cid-siVNdMseH1 .mbr-section-btn {
    margin-top: 20px;
    margin-left: calc((20 * 2px) + 70px);
  }
  .cid-siVNdMseH1 .mbr-section-btn .btn {
    margin-left: 0;
  }
  .cid-siVNdMseH1 .separline {
    position: relative;
  }
  .cid-siVNdMseH1 .separline:after {
    top: 40px;
    left: 18px;
    position: absolute;
    content: "";
    width: 2px;
    height: calc(100% - (20px) * 2);
    background-color: #bbbbbb;
  }
  .cid-siVNdMseH1 .step-text-content {
    margin-left: 70px;
  }
}
@media (max-width: 400px) {
  .cid-siVNdMseH1 .add__block_title {
    margin-top: 30px;
  }
  .cid-siVNdMseH1 .add__block .add__block_content {
    margin-left: 0;
  }
}
.cid-sxTLApT8mP {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #f2f3f7;
}
.cid-sxTLApT8mP .mbr-section-title {
  margin-bottom: 0.5rem;
  color: #ffffff;
}
.cid-sxTLApT8mP .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sxTLApT8mP .btn {
  margin-top: 1.5rem;
  position: relative;
  padding: 0.7rem 3rem;
  background-color: #fff;
  color: #ff6666;
}
.cid-sxTLApT8mP .container-fluid {
  max-width: 1200px;
}
.cid-sxTLApT8mP .btn .inner-dashed-border {
  stroke: #ff6666;
}
.cid-sxTLApT8mP .btn:hover .inner-dashed-border {
  animation-play-state: running;
}
@keyframes dashed_border_running {
  100% {
    stroke-dashoffset: -1000;
  }
}
.cid-sxTLApT8mP rect {
  position: absolute;
  width: 95%;
}
.cid-sxTLApT8mP .svg-1 {
  position: absolute;
  bottom: 0;
}
.cid-sxTLApT8mP .svg-1 path {
  fill: #ffffff;
}
.cid-sxTLApT8mP .svg-2 {
  position: absolute;
  top: 0;
}
.cid-sxTLApT8mP .svg-2 path {
  fill: #ffffff;
}
.cid-sxTLApT8mP .svg1 {
  padding: 2px;
}
.cid-sxTLApT8mP .svg1 rect {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
@media (max-width: 767px) {
  .cid-sxTLApT8mP {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .cid-sxTLApT8mP .container-fluid {
    padding: 0 1rem;
  }
}
.cid-sxTLApT8mP .mbr-section-subtitle,
.cid-sxTLApT8mP .mbr-section-btn {
  color: #000000;
}
.cid-sxTKtV75fX {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #f2f3f7;
}
.cid-sxTKtV75fX .video-wrapper iframe {
  width: 100%;
}
.cid-sxTKtV75fX .mbr-section-title,
.cid-sxTKtV75fX .mbr-section-subtitle,
.cid-sxTKtV75fX .mbr-text {
  text-align: center;
}
.cid-sxTMcogzRY {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sxTMcogzRY .mbr-section-title {
  margin-bottom: 0.5rem;
  color: #ffffff;
}
.cid-sxTMcogzRY .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sxTMcogzRY .btn {
  margin-top: 1.5rem;
  position: relative;
  padding: 0.7rem 3rem;
  background-color: #fff;
  color: #ff6666;
}
.cid-sxTMcogzRY .container-fluid {
  max-width: 1200px;
}
.cid-sxTMcogzRY .btn .inner-dashed-border {
  stroke: #ff6666;
}
.cid-sxTMcogzRY .btn:hover .inner-dashed-border {
  animation-play-state: running;
}
@keyframes dashed_border_running {
  100% {
    stroke-dashoffset: -1000;
  }
}
.cid-sxTMcogzRY rect {
  position: absolute;
  width: 95%;
}
.cid-sxTMcogzRY .svg-1 {
  position: absolute;
  bottom: 0;
}
.cid-sxTMcogzRY .svg-1 path {
  fill: #f2f3f7;
}
.cid-sxTMcogzRY .svg-2 {
  position: absolute;
  top: 0;
}
.cid-sxTMcogzRY .svg-2 path {
  fill: #f2f3f7;
}
.cid-sxTMcogzRY .svg1 {
  padding: 2px;
}
.cid-sxTMcogzRY .svg1 rect {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
@media (max-width: 767px) {
  .cid-sxTMcogzRY {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .cid-sxTMcogzRY .container-fluid {
    padding: 0 1rem;
  }
}
.cid-sxTMcogzRY .mbr-section-subtitle,
.cid-sxTMcogzRY .mbr-section-btn {
  color: #000000;
}
.cid-sxTMllEG0R {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sxTMllEG0R .img-wrapper {
  text-align: center;
}
.cid-sxTMllEG0R img {
  margin: auto;
  width: 140px;
  padding-bottom: 2rem;
}
.cid-sxTMllEG0R .row {
  align-items: flex-start;
}
.cid-sxTMllEG0R .card-wrapper {
  border-radius: 4px;
  background: #f2f3f7;
}
@media (max-width: 992px) {
  .cid-sxTMllEG0R .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-sxTMllEG0R .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sxTMllEG0R .card-wrapper {
    padding: 1rem;
  }
}
.cid-sxTMllEG0R .mbr-text,
.cid-sxTMllEG0R .mbr-section-btn {
  text-align: left;
  color: #111111;
}
.cid-sxTPn6cXD9 {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #f2f3f7;
}
.cid-sxTPn6cXD9 .mbr-section-title {
  margin-bottom: 0.5rem;
  color: #ffffff;
}
.cid-sxTPn6cXD9 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sxTPn6cXD9 .btn {
  margin-top: 1.5rem;
  position: relative;
  padding: 0.7rem 3rem;
  background-color: #fff;
  color: #ff6666;
}
.cid-sxTPn6cXD9 .container-fluid {
  max-width: 1200px;
}
.cid-sxTPn6cXD9 .btn .inner-dashed-border {
  stroke: #ff6666;
}
.cid-sxTPn6cXD9 .btn:hover .inner-dashed-border {
  animation-play-state: running;
}
@keyframes dashed_border_running {
  100% {
    stroke-dashoffset: -1000;
  }
}
.cid-sxTPn6cXD9 rect {
  position: absolute;
  width: 95%;
}
.cid-sxTPn6cXD9 .svg-1 {
  position: absolute;
  bottom: 0;
}
.cid-sxTPn6cXD9 .svg-1 path {
  fill: #ffffff;
}
.cid-sxTPn6cXD9 .svg-2 {
  position: absolute;
  top: 0;
}
.cid-sxTPn6cXD9 .svg-2 path {
  fill: #ffffff;
}
.cid-sxTPn6cXD9 .svg1 {
  padding: 2px;
}
.cid-sxTPn6cXD9 .svg1 rect {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
@media (max-width: 767px) {
  .cid-sxTPn6cXD9 {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .cid-sxTPn6cXD9 .container-fluid {
    padding: 0 1rem;
  }
}
.cid-sxTPn6cXD9 .mbr-section-subtitle,
.cid-sxTPn6cXD9 .mbr-section-btn {
  color: #000000;
}
.cid-sjvef6MB8E {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #f2f3f7;
}
.cid-sjvef6MB8E .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sjvef6MB8E .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sjvef6MB8E .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #bbbbbb;
}
.cid-sjvef6MB8E .panel-body,
.cid-sjvef6MB8E .card-header {
  padding: 1rem 0;
}
.cid-sjvef6MB8E .panel-title-edit {
  color: #000000;
}
.cid-sxTStWvViS {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #f2f3f7;
}
.cid-sxTStWvViS .video-wrapper iframe {
  width: 100%;
}
.cid-sxTStWvViS .mbr-section-title,
.cid-sxTStWvViS .mbr-description {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-sxTStWvViS .text-wrapper {
    padding: 2rem;
  }
}
.cid-sxTQTFcxxP {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sxTQTFcxxP .mbr-section-title {
  margin-bottom: 0.5rem;
  color: #ffffff;
}
.cid-sxTQTFcxxP .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sxTQTFcxxP .btn {
  margin-top: 1.5rem;
  position: relative;
  padding: 0.7rem 3rem;
  background-color: #fff;
  color: #ff6666;
}
.cid-sxTQTFcxxP .container-fluid {
  max-width: 1200px;
}
.cid-sxTQTFcxxP .btn .inner-dashed-border {
  stroke: #ff6666;
}
.cid-sxTQTFcxxP .btn:hover .inner-dashed-border {
  animation-play-state: running;
}
@keyframes dashed_border_running {
  100% {
    stroke-dashoffset: -1000;
  }
}
.cid-sxTQTFcxxP rect {
  position: absolute;
  width: 95%;
}
.cid-sxTQTFcxxP .svg-1 {
  position: absolute;
  bottom: 0;
}
.cid-sxTQTFcxxP .svg-1 path {
  fill: #f2f3f7;
}
.cid-sxTQTFcxxP .svg-2 {
  position: absolute;
  top: 0;
}
.cid-sxTQTFcxxP .svg-2 path {
  fill: #f2f3f7;
}
.cid-sxTQTFcxxP .svg1 {
  padding: 2px;
}
.cid-sxTQTFcxxP .svg1 rect {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
@media (max-width: 767px) {
  .cid-sxTQTFcxxP {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .cid-sxTQTFcxxP .container-fluid {
    padding: 0 1rem;
  }
}
.cid-sxTQTFcxxP .mbr-section-subtitle,
.cid-sxTQTFcxxP .mbr-section-btn {
  color: #000000;
}
.cid-sk64L9sEC9 {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sk64L9sEC9 .container-fluid {
  padding: 0 3rem;
}
.cid-sk64L9sEC9 .mbr-section-title {
  margin-bottom: 1.5em;
}
.cid-sk64L9sEC9 .input-main {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sk64L9sEC9 .form-1 {
  margin: 0 1em;
  padding: 0;
}
.cid-sk64L9sEC9 .form-group {
  margin-bottom: 1.4em;
}
.cid-sk64L9sEC9 .form-control {
  background-color: #f2f3f7;
  border-radius: 22px;
  padding: 18px 25px;
}
.cid-sk64L9sEC9 input.form-control {
  border: 1px solid #ddd;
}
.cid-sk64L9sEC9 textarea.form-control {
  padding: 1rem;
  min-height: 209px;
}
.cid-sk64L9sEC9 .input-group-btn .btn {
  padding: 1rem 4rem;
}
@media (max-width: 767px) {
  .cid-sk64L9sEC9 .container-fluid {
    padding: 0 1rem;
  }
  .cid-sk64L9sEC9 .input-group-btn .btn {
    padding: 1rem 2rem;
    font-size: 16px !important;
  }
}
.cid-sk64L9sEC9 H1 {
  color: #232323;
  text-align: center;
  font-weight: bold;
}
.cid-si76DW2T3Z {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #353535;
}
.cid-si76DW2T3Z .row-links {
  width: 100%;
  justify-content: center;
}
.cid-si76DW2T3Z .social-row {
  width: 100%;
  justify-content: center;
}
.cid-si76DW2T3Z .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-si76DW2T3Z .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-si76DW2T3Z .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-si76DW2T3Z .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-si76DW2T3Z .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-si76DW2T3Z .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-si76DW2T3Z .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-si76DW2T3Z .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-si76DW2T3Z .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-si76DW2T3Z .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-si76DW2T3Z .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-si76DW2T3Z .media-container-row .row-copirayt p {
  width: 100%;
}


/* ★★★★★★★★★★★★★★★★★★★★★★★ */

#slide {
  position: fixed;
  width: 200px;
  height: 30px;
  bottom: 0;
  right: 0;
  color: #666;
  background-color: white;
  border-left: solid 1px #999;
  border-top: solid 1px #999;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}
#slide-in {
  padding: 5px 10px;
}
#slide a {
  text-decoration: none;
  cursor: pointer;
}
#slide h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}
#slide #open-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#slide-contents img {
  width: 150px;
  height: auto;
  margin-top: -1rem;
}

.pic1 {
  width: 40%;
  margin-top: 2.5rem;
}

.pic2 {
  width: 40%;
}

.line {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ★★★★★★★★★★★★★★★★★★★★★★★ */

.phone {
  display: none;
}

@media (max-width: 768px) {
.phone {
  display: block;
}

.pc {
  display: none;
}
}

@media (max-width: 410px) {


  #slide-in {
    margin-left: 2rem;
    padding: 5px 30px 5px 20px;
  }

  .line {
    justify-content: space-between;
  }

}

@media (max-width: 374px) {


  #slide {
    width: 310px !important;
  }

  #slide-in {
    width: 100%;
    margin: 0 auto;
    padding: 5px 30px 5px 20px;
  }

}
}
