@font-face {
   font-family: 'komorebi-gothic';
   font-display: swap;
   src: url('file:///Users/murakamidaisuke/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-12-02_212653/fonts/komorebi-gothic/font.ttf');
}
